
body{
    margin: 0px;
}
a{
    text-decoration: none;
    color: rgb(253, 253, 253);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}.headerlogo a{
    font-size: 27px;
}
.header{
    padding: 35px 300px;
    display:flex;
    justify-content: center;
    background:#344455;
    align-items: center;
    
}
.header-section{
    margin-right: 450px;
}

.header-item{
    margin-right: 40px;
}

.headerbottom a:hover{
    color:#2ac9a9;
}
.together{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.home-page{
    background:#2ac9a9;
   width: 100%;
   height: 700px;
    
}

img{
    height: 240px;
    width: 255px;
    
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.start-boot p{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 400%;
    word-spacing: 3px;
    font-weight: bold;
color: rgb(255, 255, 255);   
text-transform: uppercase;
  
}
  .home-stars {
    text-align: center;   
    width: 80%;           
    margin: 0 auto;       
    overflow: hidden;      
}
.home-stars p {
    position: relative;
    color: #ffffff;
    overflow: hidden;
    font-size: 50px;
}
  .home-stars p:before {
    display: block;                  
    width:150px;                    
    content: '';                      
    position: absolute;              
    border-bottom: 5px solid rgb(255, 255, 255);    
    top:50%;                          
    right: 37%;                     
}
 
 
 
.home-stars p:after {
    display: block;                  
    width:150px;                    
    content: '';                      
    position: absolute;              
    border-bottom: 5px solid rgb(255, 255, 255);   
    top:50%;
    left: 37%;  
}

.home-text p{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 25px;
    color: white;

}